gitTest/obj/Debug/gitTest.csproj.FileListAbsolute.txt
gitTest/obj/Debug/gitTest.Properties.Resources.resources
gitTest/obj/Debug/gitTest.Form1.resources
gitTest/bin/Debug/gitTest.exe.config
gitTest/obj/Debug/
